/* App.css */
@import url('https://fonts.cdnfonts.com/css/borel');

body, html {
  font-family: 'Borel', sans-serif;
  margin: 0;
  padding: 1px;
  height: 100%;
}

h2, h3, h5 {
  font-family: 'Borel', sans-serif;
  color: azure;
}

h4 {
  font-family: 'Borel', sans-serif;
  color: rgb(100, 29, 105);
  direction: rtl;
}

#small {
  font-size: small;
}

.popup {
  border-radius: 20px;
  background-color: #dcb7e4;
  color: rgb(38, 38, 38);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border: 1px solid #ccc;
  z-index: 999;
}

.popup p {
  margin: 0; /* Remove default margin for paragraphs inside popup */
}

.verses {
  padding: 10px;
  overflow: auto;
  max-height: 550px;
}

.verse {
  border-radius: 20px;
  background-color: rgb(239, 239, 239);
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 0 25px #DCB7E4; /* Add a subtle box shadow when focused */
  margin: 20px;
  color: black;
}

.subverse {
  border-radius: 20px;
  background-color: rgba(35, 33, 35, 0.14);
  color: #1f1319;
  font-size: 15px;
  padding: 8px;
}

#arabic{
  font-size: 18px;
  direction: rtl;
}

.buttons_div {
  display: flex;
  justify-content: space-between;  /* This puts space between the buttons */
}

#generated {
  cursor: pointer;
  box-shadow: 0 0 25px #603969;
  color: white;
  background-color: rgb(8, 8, 8);
}

#generated:hover {
  box-shadow: 0 0 25px #da37ff;
  background-color: #b79cbe;
  color: black;
  border: none;
}

#close {
  background-color: rgb(8, 8, 8);
  cursor: pointer;
  color: white;
  padding: 10px;
  margin-top: 10px;
}

#app {
  min-height: 100vh;
  background-color: rgb(255, 248, 255);
  width: 100%;
}

/* Add the following style to align content at the top */
#app > div {
  padding: 25px;
  width: 100%;
  position: fixed;
  background-color: rgb(255, 248, 255);
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(style/websitebackground.jpeg) center/cover no-repeat;

}

.main {
  width: 100%; /* Take up the full width of the screen */
  position: fixed;
  background-color: rgb(255, 248, 255);
  min-height: 100vh;
}

#container {
  font-family: 'Helvetica', sans-serif;
  display: flex; /* Use flexbox to make children inline */
  height: calc(100vh - 70px);
  padding: 10px;
}

#userinput {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(176, 168, 181, 0.25);
  padding: 25px;
  width: 100%;
  border-radius: 25px;
}

#userinput2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(176, 168, 181, 0);
  width: 100%;
  border-radius: 25px;
}

.emoji-buttons {
  padding: 10px;
}

.emoji-buttons img{
  margin: 0 20px 0 0;
  cursor: pointer;
}

.emoji-buttons img.selected {
  border: 10px solid #dcb7e4;
  border-radius: 50%;
}

.user-objective {
  padding-top: 25px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: azure;
}

.input-container {
  width: 70%;
  padding: 25px;
}

.input-container input{
  width: 100%;
  padding: 10px; /* Add padding for better visual appearance */
  font-size: 16px; /* Adjust the font size */
  border-radius: 10px; /* Add rounded corners */
  background-color: white;
  color: black;
}

/* Style the input when it is focused */
.input-container input:focus {
  outline: none; /* Remove the default focus outline */
  box-shadow: 0 0 25px #DCB7E4; /* Add a subtle box shadow when focused */
}

.submit-button {
  padding-top: 5px;
  padding-bottom: 20px;
  color: black;
}

#submit-button {
  color: rgb(241, 229, 245);
}

#submit-button:hover {
  background-color: rgb(187, 169, 193);
}

#submit-button:focus {
  outline: none;
}

.spiritual-booster-content {
  font-size: 15px;
}

.booster-button {
  background-color: #dcb7e400;
  font-size: x-small;
  border: none;
}

.booster-button:hover {
  color: #c193ea;
  text-shadow: 0 0 25px #e298ff;
}

.booster-button:focus {
  outline: none;
  border: none;
}
/* button:focus, button:active */

#Left {
  flex: 1;
  padding: 20px;
  border-radius: 8px;
  margin-right: 1px; 
  box-sizing: border-box;
}

#Right {
  flex: 1;
  padding: 20px;
  border-radius: 8px;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}
